<div class="container">
  <div class="grid-x">
    <div class="medium-12 cell">
      <div class="main-title-container">
        <span class="main-title"><%= t('.casos_practics') %></span>
      </div>
    </div>
  </div>

  <% counter = 0 %>
  <div class="cas-array-container">
    <div class="grid-x grid-margin-x">
      <% @cas_practics.each do |cas| %>
        <% if counter != 0 && counter % 3 == 0 %>
          </div>
          <div class="grid-x grid-margin-x">
        <% end %>

        <div class="medium-4 cell">
          <div class="index-cas-container">
            <div class="img-index-cas">
              <%= link_to cas do %>
                
              <% end %>  
            </div>
            <div class="text-index-cas">
              <%= link_to cas do %>
                <h4><%= cas.titol_ca %></h4>
                
                <div class="show-for-large">
                  <p class="resum-video"><%= truncate(cas.descripcio_ca, :length => 200) %></p>
                </div>
                <div class="show-for-medium-only">
                  <p class="resum-video"><%= truncate(cas.descripcio_ca, :length => 70) %></p>
                </div>
                <div class="show-for-small-only">
                  <p class="resum-video"><%= truncate(cas.descripcio_ca, :length => 200) %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <% counter += 1 %>
      <% end %>
    </div>
  </div>
</div>