<div class="container container-show-cas">
  <div class="grid-x grid-margin-x">
    <div class="medium-9 cell">
      <div class="container-titol-noticia">
        <h2 class="titol-noticia"><%= @noticia.titol_ca %></h2>
      </div>
      <div class="imatge-noticia">
        <%= image_tag @noticia.image_url(:original) %>
      </div>
      <div class="container-text-noticia">
        <%= sanitize @noticia.contingut_ca %>
      </div>
    </div>
    <div class="medium-3 cell">
      <div class="titol-seccio">
        ALTRES NOTÍCIES
      </div>
      <% @noticies.each do |noticia| %>
        <%= link_to noticia do %>
          <div class="container-noticia-lateral">
            <%= image_tag noticia.image_url(:thumb) %>
            <span class="titol-noticia-lateral"><%= noticia.titol_ca %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_noticia_path(@noticia) %> |
<%= link_to 'Back', noticies_path %>
