<div class="container">
  <div class="grid-x">
    <div class="medium-12 cell">
      <div class="main-title-container">
        <span class="main-title"><%= t('.videos') %></span>
      </div>
    </div>
  </div>

  <% @videos.in_groups_of(2).each do |video_array| %>
    <div class="video-array-container">
      <div class="grid-x grid-margin-x">
        <% video_array.each do |video| %>
          <div class="medium-6 cell">
            <div class="index-video-container">
              
              <div class="img-index-video">
                <%= link_to video do %>
                  <% if video.image_data? %>
                    <%= image_tag video.image_url(:original) %>
                  <% end %>
                <% end %>  
              </div>
              <div class="text-index-video">
                <%= link_to video do %>
                  <h4><%= video.titol_ca %></h4>
                  
                  <div class="show-for-large">
                    <p class="resum-video"><%= truncate(video.resum_ca, :length => 200) %></p>
                  </div>
                  <div class="show-for-medium-only">
                    <p class="resum-video"><%= truncate(video.resum_ca, :length => 70) %></p>
                  </div>
                  <div class="show-for-small-only">
                    <p class="resum-video"><%= truncate(video.resum_ca, :length => 200) %></p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>