<div class="hero">
	<div class="container">
		<div class="grid-x grid-margin-x">
			<div class="medium-6 cell">
				<div class="card">
	        <div class="card-image">
	          <%= image_tag('https://s3-eu-west-1.amazonaws.com/csostenible/imatges/reactiva2.jpg', :class => 'responsive-img') %>
	          <div class="hero-title-container">
	         		<span class="card-title hero-title">L'impacte ambiental de l'energia reactiva dels edificis</span>
	         	</div>
	        </div>
	      </div>
			</div>
			<div class="medium-6 cell">
				<div class="card">
	        <div class="card-image">
	          <%= image_tag('https://s3-eu-west-1.amazonaws.com/csostenible/imatges/transicio_energetica_v3.jpg', :class => 'responsive-img') %>
	          <span class="card-title hero-title">Present i futur de la transició energètica</span>
	        </div>
	      </div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="grid-x grid-margin-x">
		<div class="medium-8 cell">
			<div class="home-title">
				NOVETATS AL WEB
			</div>
			<div class="grid-x grid-margin-x">
				<div class="medium-6 cell">
					<div class="card hoverable">
		        <div class="card-image">
		          <%= image_tag('https://s3-eu-west-1.amazonaws.com/csostenible/imatges/captador_integrat.jpg', :class => 'responsive-img') %>
		        </div>
		        <div class="card-content">
		        	<span class="card-title">Captadors solars integrats</span>
		          <p>Els captadors solars integrats acostumen a ser els de termosifò convencional. Són fàcils d'instal·lar però tenen una eficiència energètica menor. En aquest vídeo presentem els sistemes integrats d'alta eficiència.</p>
		        </div>
		        <div class="card-action">
              <a href="#">Veure el vídeo</a>
            </div>
		      </div>
				</div>
				<div class="medium-6 cell">
					<div class="card hoverable">
		        <div class="card-image">
		          <%= image_tag('https://s3-eu-west-1.amazonaws.com/csostenible/imatges/doble_flux.jpg', :class => 'responsive-img') %>
		        </div>
		        <div class="card-content">
		        	<span class="card-title">Sistemes de ventilació de doble flux</span>
		          <p>En aquest capítol visitem una obra de 44 habitatges a Barcelona i el showroom de Siber a les Franqueses del Vallès per veure en detall com és un sistema de ventilació de doble flux.</p>
		        </div>
		        <div class="card-action">
              <a href="#">Veure el vídeo</a>
            </div>
		      </div>
				</div>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="home-title">
				NEWSLETTER
			</div>
			<a href="http://eepurl.com/VGTzD">
				<div class="card cyan darken-1 hoverable">
	        <div class="card-content white-text">
	          <span class="card-title">Subscriu-te al nostre newsletter</span>
	          <p>Així sabràs quan hi ha novetats al web!</p>
	        </div>
	      </div>
	     </a>
		
		
		

		
			<div class="spacer"></div>
			<div class="home-title">
				NOTÍCIES
			</div>
			<div class="noticia-breu">
				<div class="titol-noticia-breu">
					DAPcons® en el Barcelona Building Construmat
				</div>
				<div class="imatge-noticia-breu">
					<%= image_tag('https://s3-eu-west-1.amazonaws.com/csostenible/imatges/construmat.jpg', :class => 'responsive-img') %>
				</div>
				<div class="text-noticia-breu">
					<p>S'han realitzat presentacions personalitzades a grups d’agents del sector interessats en els productes sostenibles.</p>
				</div>
				<div class="link-noticia-breu">
					<a href="#">+ Més informació</a>
				</div>
			</div>

			<div class="noticia-breu">
				<div class="titol-noticia-breu">
					DAPcons® present en el Congrés de les Professions
				</div>
				
				<div class="text-noticia-breu">
					<p>GBCe i el CAATEEB han organitzat una jornada pel proper dia 15 de juny que sota el títol ”Sostenibilidad en l’edificació: la importància dels materials de construcció” es celebrarà dins el marc del Congrés de les Professions.</p>
				</div>
				<div class="link-noticia-breu">
					<a href="#">+ Més informació</a>
				</div>
			</div>

		</div>
	</div>
</div>