<p id="notice"><%= notice %></p>

<h1>Productes</h1>

<table>
  <thead>
    <tr>
      <th>Id ps</th>
      <th>Nom ca</th>
      <th>Nom es</th>
      <th>Descripcio ca</th>
      <th>Descripcio es</th>
      <th>Caracteristiques ca</th>
      <th>Caracteristiques es</th>
      <th>Aplicacio ca</th>
      <th>Aplicacio es</th>
      <th>Disponibilitat ca</th>
      <th>Disponibilitat es</th>
      <th>Destacats ca</th>
      <th>Destacats es</th>
      <th>Valoracio</th>
      <th>Ambit</th>
      <th>Ecoetiqueta</th>
      <th>Ecoetiqueta2</th>
      <th>Visible</th>
      <th>Img petita</th>
      <th>Img1</th>
      <th>Nom doc1 ca</th>
      <th>Nom doc1 es</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productes.each do |producte| %>
      <tr>
        <td><%= producte.id_ps %></td>
        <td><%= producte.nom_ca %></td>
        <td><%= producte.nom_es %></td>
        <td><%= producte.descripcio_ca %></td>
        <td><%= producte.descripcio_es %></td>
        <td><%= producte.caracteristiques_ca %></td>
        <td><%= producte.caracteristiques_es %></td>
        <td><%= producte.aplicacio_ca %></td>
        <td><%= producte.aplicacio_es %></td>
        <td><%= producte.disponibilitat_ca %></td>
        <td><%= producte.disponibilitat_es %></td>
        <td><%= producte.destacats_ca %></td>
        <td><%= producte.destacats_es %></td>
        <td><%= producte.valoracio %></td>
        <td><%= producte.ambit %></td>
        <td><%= producte.ecoetiqueta %></td>
        <td><%= producte.ecoetiqueta2 %></td>
        <td><%= producte.visible %></td>
        <td><%= producte.img_petita %></td>
        <td><%= producte.img1 %></td>
        <td><%= producte.nom_doc1_ca %></td>
        <td><%= producte.nom_doc1_es %></td>
        <td><%= link_to 'Show', producte %></td>
        <td><%= link_to 'Edit', edit_producte_path(producte) %></td>
        <td><%= link_to 'Destroy', producte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producte', new_producte_path %>
