<p id="notice"><%= notice %></p>

<p>
  <strong>Id ps:</strong>
  <%= @producte.id_ps %>
</p>

<p>
  <strong>Nom ca:</strong>
  <%= @producte.nom_ca %>
</p>

<p>
  <strong>Nom es:</strong>
  <%= @producte.nom_es %>
</p>

<p>
  <strong>Descripcio ca:</strong>
  <%= @producte.descripcio_ca %>
</p>

<p>
  <strong>Descripcio es:</strong>
  <%= @producte.descripcio_es %>
</p>

<p>
  <strong>Caracteristiques ca:</strong>
  <%= @producte.caracteristiques_ca %>
</p>

<p>
  <strong>Caracteristiques es:</strong>
  <%= @producte.caracteristiques_es %>
</p>

<p>
  <strong>Aplicacio ca:</strong>
  <%= @producte.aplicacio_ca %>
</p>

<p>
  <strong>Aplicacio es:</strong>
  <%= @producte.aplicacio_es %>
</p>

<p>
  <strong>Disponibilitat ca:</strong>
  <%= @producte.disponibilitat_ca %>
</p>

<p>
  <strong>Disponibilitat es:</strong>
  <%= @producte.disponibilitat_es %>
</p>

<p>
  <strong>Destacats ca:</strong>
  <%= @producte.destacats_ca %>
</p>

<p>
  <strong>Destacats es:</strong>
  <%= @producte.destacats_es %>
</p>

<p>
  <strong>Valoracio:</strong>
  <%= @producte.valoracio %>
</p>

<p>
  <strong>Ambit:</strong>
  <%= @producte.ambit %>
</p>

<p>
  <strong>Ecoetiqueta:</strong>
  <%= @producte.ecoetiqueta %>
</p>

<p>
  <strong>Ecoetiqueta2:</strong>
  <%= @producte.ecoetiqueta2 %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @producte.visible %>
</p>

<p>
  <strong>Img petita:</strong>
  <%= @producte.img_petita %>
</p>

<p>
  <strong>Img1:</strong>
  <%= @producte.img1 %>
</p>

<p>
  <strong>Nom doc1 ca:</strong>
  <%= @producte.nom_doc1_ca %>
</p>

<p>
  <strong>Nom doc1 es:</strong>
  <%= @producte.nom_doc1_es %>
</p>

<%= link_to 'Edit', edit_producte_path(@producte) %> |
<%= link_to 'Back', productes_path %>
